:root {
  --color-text-main: #000;
  --color-text-black-theme: #fff;
  --color-bg-nav: #fff;
  --color-bg-nav-black-theme: #2c2c2c;
  --color-bg-main: #f0f0f0;
  --color-bg-black-theme: #222222;
  --color-blue: #5640ff;
  --color-darkblue: #4432cc;
}