.catalog {
  padding-top: 10px;
  padding-bottom: 10px;
}

.category {
  scroll-margin-top: 3em;
}

.category__title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 16px;
}

.card {
  font-size: 14px;
  background-color: var(--color-bg-nav);
  border-radius: 10px;
}

.card__image-block {
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.card__description {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.card__wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__date {
  text-align: center;
  word-wrap: break-word;
  max-width: 200px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 0.8rem;
}

.card__btn {
  background-color: var(--color-blue);
  border: none;
  color: #fff;
  border-radius: 0 0 10px 10px;
  font-size: 1rem;
  padding: 5px;
  transition: background-color .3s ease-in-out;
}

.card__btn:hover {
  background-color: var(--color-darkblue);
}